@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.text-center {
  background-color: whitesmoke;
}
